{% from "_formhelpers.html" import render_field %}
{% extends "base_after.html" %}
{% block title %}
企業情報編集 - {{ super() }}
{% endblock %}

{% block content_after %}
<div class="col border rounded">
    <div class="row">
        <h1 class="mx-auto mt-3">会社の情報編集</h1>
    </div>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <div class="row pl-3">
        <form method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.aspiration, value=company.aspiration) }}
            {{ render_field(form.step, value=company.step) }}
            {{ render_field(form.status, value=company.status) }}
            {{ render_field(form.good_comment, cols="50", rows="5", id='good_comment') }}
            {{ render_field(form.bad_comment, cols="50", rows="5", id='bad_comment') }}
            {{ render_field(form.sonota_comment, cols="50", rows="5", id='sonota_comment') }}
            {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}

{% block b_js %}
<script type="text/javascript">
    let step_selector = "option[value="+{{company.step|tojson}}+"]";
    let step = document.getElementById("step").querySelector(step_selector).setAttribute("selected", "selected");
    let textarea1 = document.getElementById('good_comment')
    textarea1.value = {{company.good_comment|tojson}}
    let textarea2 = document.getElementById('bad_comment')
    textarea2.value = {{company.bad_comment|tojson}}
    let textarea3 = document.getElementById('sonota_comment')
    textarea3.value = {{company.sonota_comment|tojson}}
</script>
{% endblock %}