<div class="row">
    {% if current_user.is_authenticated %}
    <!-- <div class="col">
        <a href="{{url_for('app.cp_data', op='def')}}" class="mx-auto btn btn-success">企業データの閲覧</a>
    </div>
    <div class="col">
        <a href="{{url_for('app.cp_reg')}}" class="mx-auto btn btn-success">企業分析の登録</a>
    </div> -->
    <div class="col">
        <a href="{{url_for('app.home')}}" class="mx-auto btn btn-info">ホームへ</a>
    </div>
    <div class="col">
        <a href="{{ url_for('app.calendar') }}" class="mx-auto btn btn-success">予定表</a>
    </div>
    <div class="col">
        <a href="{{url_for('app.toDo_home')}}" class="mx-auto btn btn-info">ToDOリストへ</a>
    </div>
    <!-- <div class="col">
        <a href="{{url_for('app.basic_company')}}" class="mx-auto btn btn-success">企業基本情報</a>
    </div>
    <div class="col">
        <a href="{{url_for('app.basic_company_reg')}}" class="mx-auto btn btn-success">企業基本情報登録</a>
    </div>
    <div class="col">
        <a href="{{url_for('app.basic_company_number')}}" class="mx-auto btn btn-dark">企業数値比較</a> -->
    <!-- </div> -->
    {% endif %}
</div>
