{% extends "base.html" %}
{% block title %}
ホーム - {{ super() }}
{% endblock %}
{% block content %}
<div class="col-3 border rounded pt-2">
    {% if current_user.is_authenticated %}
    <!-- <div class="row">
        <a href="{{url_for('app.cp_data', op='def')}}" class="mx-auto btn btn-success" style="width: 200px;">企業データの閲覧</a>
    </div>
    <div class="row">
        <a href="{{url_for('app.cp_reg')}}" class="mx-auto mt-2 btn btn-success" style="width: 200px;">企業分析の登録</a>
    </div> -->
    <div class="row">
        <a href="{{url_for('app.toDo_home')}}" class="mx-auto mt-2 btn btn-info" style="width: 200px; ">ToDOリストへ</a>
    </div>
    <div class="row">
        <a href="{{ url_for('app.calendar') }}" class="mx-auto btn mt-2 btn-success" style="width: 200px;">予定表</a>
    </div>
    <!-- <div class="row">
        <a href="{{url_for('app.basic_company')}}" class="mx-auto mt-2 btn btn-info" style="width: 200px; ">企業基本情報</a>
    </div>
    <div class="row">
        <a href="{{url_for('app.basic_company_reg')}}" class="mx-auto mt-2 btn btn-info" style="width: 200px; ">企業基本情報登録</a>
    </div> -->
    {% endif %}
</div>
<div class="col-8 offset-1 border rounded">
    <div class="row">
        {% if current_user.is_authenticated %}
        <div class="mx-auto mt-5">
            <p>ユーザ名: {{ current_user.username }}</p>
            <p>メールアドレス: {{ current_user.email }}</p>
        </div>
        {% else %}
            <div class="mx-auto">
                <p>ログイン or 登録をしてください</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}