{% from "_formhelpers.html" import render_field %}
{% extends "base_after.html" %}
{% block title %}
カレンダー - {{ super() }}
{% endblock %}

{% block a_js %}
    <link href="{{ url_for('static', filename='fullcalendar/main.css') }}" rel='stylesheet' />
    <script src="{{ url_for('static', filename='fullcalendar/main.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar/locales-all.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            
            let resp = ""

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                // initialDate: '2020-09-12',
                locale: 'ja',
                navLinks: true, // can click day/week names to navigate views
                businessHours: true, // display business hours
                editable: true,
                selectable: true,
                initialView: "timeGridWeek",

                events : function(info, successCallback, failureCallback) {
                    axios
                        .post("/eventList", {
                            start_date: info.start.valueOf(),
                            end_date: info.end.valueOf(),
                        })
                        .then((response) => {
                            calendar.removeAllEvents();
                            // よくわからない前処理です
                            var a = [];
                            response.data.forEach(function(element){
                                a.push(element);
                            })
                            successCallback(a);
                            // successCallback(JSON.stringify(response.data)[0]);
                            /*
                            successCallback([
                            {
                                "title": 'Business Lunch',
                                "start": '2022-04-04T13:00:00',
                            },
                            {
                                "title": 'Business Lunch',
                                "start": '2022-04-03T13:00:00',
                            }
                            ]);
                            */
                            // alert(response.data.start)
                            
                        })
                        .catch(() => {
                            // バリデーション
                            alert("深刻なエラーが発生しました");
                        });
                },
                
                /*
                {
                    url: encodeURI('/eventList'),
                    dataType: 'json',
                    async:false,
                    type:'GET',
                    error:function(){
                        $('#script-warning').show();
                    }
                },
                events: '/eventList',
                axiosは不明
                */
                /*
                仮データ
                events: [
                {
                    "title": 'Business Lunch',
                    "start": '2022-04-03T13:00:00',
                },
                ],
                
                events: [
                {
                    title: 'Business Lunch',
                    start: '2020-09-03T13:00:00',
                    constraint: 'businessHours'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-13T11:00:00',
                    constraint: 'availableForMeeting', // defined below
                    color: '#257e4a'
                },
                {
                    title: 'Conference',
                    start: '2020-09-18',
                    end: '2020-09-20'
                },
                {
                    title: 'Party',
                    start: '2020-09-29T20:00:00'
                },
        
                // areas where "Meeting" must be dropped
                {
                    groupId: 'availableForMeeting',
                    start: '2020-09-11T10:00:00',
                    end: '2020-09-11T16:00:00',
                    display: 'background'
                },
                {
                    groupId: 'availableForMeeting',
                    start: '2020-09-13T10:00:00',
                    end: '2020-09-13T16:00:00',
                    display: 'background'
                },
        
                // red areas where no events can be dropped
                {
                    start: '2020-09-24',
                    end: '2020-09-28',
                    overlap: false,
                    display: 'background',
                    color: '#ff9f89'
                },
                {
                    start: '2020-09-06',
                    end: '2020-09-08',
                    overlap: false,
                    display: 'background',
                    color: '#ff9f89'
                }
                ],
                */
                // イベントをクリックしたときに呼ばれる
                select:function(date){
                    $('#label1').textContent = "スケジュール登録";
                    $('#decide').val(0);
                    $('#delete_form').css('display', 'none');
                    // タイトル初期化
                    $('#inputTitle').val("");
                    $('#inputDescription').val("");
                    $('#inputScheduleForm').on('show.bs.modal', function(event){
                        setTimeout(function(){
                            $('#inputTitle').focus();
                        },500);
                    }).modal("show");

                    $('.ymdHm').hide();
                    $('.ymd').show();

                    /*
                    // 日付ピッカーの設定
                    $('#inputYmdFrom').datetimepicker();
                    $('#inputYmdTo').datetimepicker();
                    $('.ymdHm').datetimepicker();

                    // 開始終了が逆転しないように
                    ⇒登録時にバリデーションではじく
                    $("#inputYmdFrom").on("dp.change",function(e){
                        $('#inputYmdTo').data("DateTimePicker").minDate(e.date);
                    });
                    $("#inputYmdTo").on("dp.change",function(e){
                        $('#inputYmdFrom').data("DateTimePicker").maxDate(e.date);
                    });
                    */                    

                    // 終日チェックボックス
                    $('#allDayCheck').prop("checked",true);

                    // 選択された日付をフォームにセット
                    var startYmd=moment(date.start);
                    // 終日ならば
                    var endYmd=moment(date.end);
                    if (startYmd.format("HH:mm")=="00:00" && endYmd.format("HH:mm")=="00:00") {
                        var endYmd=moment(date.end).add(-1,"days");
                    }else{
                        $('#allDayCheck').prop("checked",false);
                        $('.ymdHm').show();
                        $('.ymd').hide();
                    }
                    // console.log(moment(date.start).format("YYYY-MM-DDTHH:mm:00"));
                    // console.log(moment(date.end).format("YYYY-MM-DDTHH:mm:00"));

                    // FullCalendar の仕様で、終了が翌日の00:00になるため小細工: 不必要？？
                    /*
                    if(endYmd.diff(startYmd,'days')>1){
                        endYmd=endYmd.add(-1,"days");
                    }else{
                        endYmd=startYmd;
                    }
                    */

                    // 先に日時を入れておく
                    $('#inputYmdFrom').val(startYmd.format("YYYY-MM-DD"));
                    // $('#inputYmdFrom').data("DateTimePicker").date(startYmd.format("YYYY年MM月DD日"));
                    $('#inputYmdTo').val(endYmd.format("YYYY-MM-DD"));
                    // $('#inputYmdTo').data("DateTimePicker").date(endYmd.format("YYYY年MM月DD日"));
                    $("#inputYmdHmFrom").val(startYmd.format("YYYY-MM-DDTHH:mm:00"));
                    $("#inputYmdHmTo").val(endYmd.format("YYYY-MM-DDTHH:mm:00"));
                },
                // 予定クリック時のイベント
                eventClick:function(info){
                    $('#label1').textContent = "スケジュール編集";
                    /*
                    console.log(info.event);
                    console.log(info.event.allDay);
                    */
                    $('#id').val(info.event.id);
                    $('#d_id').val(info.event.id);
                    $('#delete_form').css('display', 'block');
                    $('#decide').val(1);
                    $('#tableNum').val(info.event.extendedProps.tableNum);
                    $('#tableNum_del').val(info.event.extendedProps.tableNum);
                    $('#colorselect').find("option").eq(info.event.extendedProps.colorNum).prop("selected", true);
                    $('#inputTitle').val(info.event.title);
                    $('#inputScheduleForm').on('show.bs.modal', function(event){
                        setTimeout(function(){
                            $('#inputTitle').focus();
                        },500);
                    }).modal("show");
                    // 終日の場合は日付は終わりの日を１日早める
                    var startYmd=moment(info.event.start);
                    if (info.event.allDay==true){
                        $('#allDayCheck').prop("checked",true);
                        var endYmd=moment(info.event.end).add(-1,"days");
                        $('.ymdHm').hide();
                        $('.ymd').show();
                        $('#inputYmdFrom').val(startYmd.format("YYYY-MM-DD"));
                        $('#inputYmdTo').val(endYmd.format("YYYY-MM-DD"));
                        $('#inputYmdHmFrom').val(startYmd.format("YYYY-MM-DDT00:00"));
                        $('#inputYmdHmTo').val(endYmd.format("YYYY-MM-DDT23:59"));
                    } else {
                        $('#allDayCheck').prop("checked",false);
                        var endYmd=moment(info.event.end);
                        $('.ymdHm').show();
                        $('.ymd').hide();
                        $('#inputYmdFrom').val(startYmd.format("YYYY-MM-DD"));
                        $('#inputYmdTo').val(endYmd.format("YYYY-MM-DD"));
                        $('#inputYmdHmFrom').val(startYmd.format("YYYY-MM-DDTHH:mm"));
                        $('#inputYmdHmTo').val(endYmd.format("YYYY-MM-DDTHH:mm"));
                    }
                    $('#inputDescription').val(info.event.extendedProps.description);

                },

                eventDrop: function (info) {
                    // 送信する日付のフォーマット調整
                    var startYmd=moment(info.event.start);
                    if (info.event.allDay==true){
                        var endYmd=moment(info.event.end).add(-1,"days");
                        var at_start = startYmd.format("YYYY-MM-DD");
                        var at_end = endYmd.format("YYYY-MM-DD");
                    }else{
                        var endYmd=moment(info.event.end);
                        var at_start = startYmd.format("YYYY-MM-DDTHH:mm");
                        var at_end = endYmd.format("YYYY-MM-DDTHH:mm");
                    }
                    $.ajax({
                        //POST通信
                        type: 'POST',
                        //ここでデータの送信先URLを指定
                        url: '/dropEvents',
                        //送信する値
                        data: {
                            id: info.event.id, //ID
                            at_start: at_start,
                            at_end: at_end,
                            tableNum: info.event.extendedProps.tableNum,
                            allDay: info.event.allDay
                        },
                    }).then((res) => {
                        //resはflaskから帰ってきた値(フラグ)
                        console.log(res);
                        calendar.render();
                    });
                },

                eventResize: function(info) {
                    // 送信する日付のフォーマット調整
                    console.log(info.event)
                    var startYmd=moment(info.event.start);
                    if (info.event.allDay==true){
                        var endYmd=moment(info.event.end).add(-1,"days");
                        var at_start = startYmd.format("YYYY-MM-DD");
                        var at_end = endYmd.format("YYYY-MM-DD");
                    }else{
                        var endYmd=moment(info.event.end);
                        var at_start = startYmd.format("YYYY-MM-DDTHH:mm");
                        var at_end = endYmd.format("YYYY-MM-DDTHH:mm");
                    }
                    $.ajax({
                        //POST通信
                        type: 'POST',
                        //ここでデータの送信先URLを指定,dropの再利用(名前ややこしい)
                        url: '/dropEvents',
                        //送信する値
                        data: {
                            id: info.event.id, //ID
                            at_start: at_start,
                            at_end: at_end,
                            tableNum: info.event.extendedProps.tableNum,
                            allDay: info.event.allDay
                        },
                    }).then((res) => {
                        //resはflaskから帰ってきた値(フラグ)
                        console.log(res);
                        calendar.render();
                    });
                },
            });

            calendar.render();
        })

        // 日付チェックのバリデーション
        function check(){
            if (document.getElementById('allDayCheck').checked){
                var at_start = document.getElementById('inputYmdFrom').value;
                var at_end = document.getElementById('inputYmdTo').value;
            } else {
                var at_start = document.getElementById('inputYmdHmFrom').value;
                var at_end = document.getElementById('inputYmdHmTo').value;
            }

            // Date型に変換
            at_start = new Date(at_start)
            at_end = new Date(at_end)

            if (at_start <= at_end) {
                return true;
            } else {
                alert("無効な日程です");
                return false;
            }
            
        }

        function confirm_check() {
            if (confirm('削除してもよろしいですか？')) {
                return true;
            } else {
                return false;
            }
        }

        /*
        予定入力フォームの登録ボタンクリックイベント
        function registSchedule(){
            console.log($('#inputYmdFrom').val())
            var startYmd=moment($('#inputYmdFrom').val()+"-00:00:00","YYYY-MM-DD-HH:mm:ss");
            var endYmd=moment($('#inputYmdTo').val()+"-00:00:00","YYYY-MM-DD-HH:mm:ss");
            var allDayCheck=$('#allDayCheck').prop("checked");
            if(!allDayCheck){
                startYmd=moment($('#inputYmdHmFrom').val()+"00",1);
                endYmd=moment($('#inputYmdHmTo').val()+"00",1);
            }
            if(endYmd.diff(startYmd,'days')>0){
                endYmd=endYmd.add(+1,"days");
            }
            
            var eventData;
            if($('#inputTitle').val()){
                eventData={
                    title:$('#inputTitle').val(),
                    start:startYmd.format("YYYY-MM-DDTHH:mm:ss"),
                    end:endYmd.format("YYYY-MM-DDTHH:mm:ss"),
                    allDay:allDayCheck,
                    description:$('#inputDescription').val()
                };
                $.ajax({
                    url:{{ url_for('app.toDo_home')|tojson }},
                    type:"POST",
                    data:JSON.stringify(eventData),
                    success:function(jsonResponse){
                        $('#calendar').fullCalendar('renderEvent',jsonResponse,true);
                        alert("予定を登録しました。");
                    },
                    error:function(){
                    }
                });
            }
            
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl);
            calendar.render();
        }
        */
        
        /**
        * 終日チェックボックスクリックイベント.
        *
        */
        function allDayCheckClick(element){
            if(element&& element.checked) {
                $('.ymdHm').hide();
                $('.ymd').show();
            }else{      
                $('.ymd').hide();
                $('.ymdHm').show();
            }
        }

    </script>
    <style>
        /*
        body {
          margin: 40px 10px;
          padding: 0;
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 14px;
        }
        */
        
        #calendar {
            
            width: 100%;
            margin: 50px auto 0px;
        }
      
    </style>
{% endblock %}

{% block content_after %}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <div id='calendar'></div>

    <div class="modal fade" id="inputScheduleForm" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label1">スケジュール登録</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form method="POST">
                            <div class="row" style="display: none;"><input id="id" name="id"></div>
                            <div class="row">
                                <div  class="col-md-2">
                                    <label for="">タイトル</label>
                                </div>
                                <div class="col-md-5">
                                    <input id="inputTitle"type="text"class="form-control input-sm ime-active"placeholder="タイトル"value="" name="title" required>
                                </div>
                            </div>
                            <div class="row">
                                <div  class="col-md-2 required">
                                    <label for="">日時</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <div class="checkbox"style="margin-top: 0px;">
                                            <input type="checkbox" id="allDayCheck" onclick="allDayCheckClick(this);" checked name="allDayCheck"/><label for="allDayCheck">終日</label>
                                        </div>
                                    </div>
                                    <div class="form-inline">
                                        <div class="form-group"style="position:relative;">
                                            <input id="inputYmdFrom"type="date"class="form-control input-sm ymd"value="" name="at_start"/>
                                            <input id="inputYmdHmFrom"type="datetime-local"class="form-control input-sm ymdHm" name="at_start_hm"/> ～
                                            <input id="inputYmdTo"type="date"class="form-control input-sm ymd" name="at_end"/>
                                            <input id="inputYmdHmTo"type="datetime-local"class="form-control input-sm ymdHm" name="at_end_hm"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div  class="col-md-2">
                                    <label for="">詳細</label>
                                </div>
                                <div class="col-md-5">
                                    <textarea id="inputDescription"class="form-control ime-active"rows="5"placeholder="詳細" name="comment"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    カラー
                                </div>
                                <div class="col-md-5">
                                    <select class="form-select form-control ime-active" name="colorselect" id="colorselect">
                                        <option value="primary">色を変更する</option>
                                        <option value="blue" class="text-primary">青</option>
                                        <option value="red" class="text-danger">赤</option>
                                        <option value="green" class="text-success">緑</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="display: none;">
                                <input type="text" id="decide" name="decide" value=0>
                            </div>
                            <!-- 何番のテーブルを参照にするか -->
                            <div class="row", style="display: none;">
                                <input type="text" id="tableNum" name="tableNum" value="0">
                            </div>
                            <div class="modal-footer mt-3">
                                <div id="inputError" class="pull-left" style="color: red; padding:5px;"></div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" onclick="return check()">OK</button>
                            </div>
                        </form>
                        <div id="delete_form" class="row ml-3">
                            <form method="POST" action="{{ url_for('app.calendar_del') }}">
                                <div class="row" style="display: none;"><input id="d_id" name="d_id"></div>
                                <!-- 何番のテーブルを参照にするか(デリート用) -->
                                <div class="row", style="display: none;">
                                    <input type="text" id="tableNum_del" name="tableNum_del" value="0">
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-outline-secondary btn-sm pull-left" onclick="return confirm_check()">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block b_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
