{% from "_formhelpers.html" import render_field %}
{% extends "base_after.html" %}
{% block title %}
ユーザ情報編集画面 - {{ super() }}
{% endblock %}
{% block content_after %}
<div class="row">
    <div class="col-lg-8 offset-lg-4">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    </div>
    <div class="col-lg-4 offset-lg-2">
        <form method="POST">
            {{form.csrf_token}}
            {{render_field(form.username, value=current_user.username)}}
            {{render_field(form.email, value=current_user.email )}}
            {{form.submit()}}
        </form>
        <a href="{{url_for('app.change_password')}}">パスワードを変更する</a>
    </div>

</div>
{% endblock %}